*{list-style:none; margin:0; padding:0;}
a{text-decoration:none; }
.clearfix:after{content:''; display:block; clear:both;}
body{font-family:'Noto Sans KR', sans-serif; width:100%; height:100%;}
html{width:100%; height:100%;}
.wrapper{width:960px; height:100%; margin:0 auto; }
.first{border-left:solid 1px lightgray;}
.last{margin-right:0!important; border-right:0 !important;}
.hd{border-bottom:none !important; height:50px; margin-bottom:10px;}
.hide{position:absolute !important; left:-10000px !important; top:auto !important; width:1px !important;  height:1px !important; overflow:hidden !important; display:inline-block !important;}

.skipNav{position:relative; width:100%; z-index:100;}
.skipNav a{display:block; background-color:white; width:100%; line-height:30px; text-align:center; font-size:13px; position:absolute; top:-100px; left:0; font-weight:bold;}
.skipNav a:active, .skipNav a:focus{top:0;}

#header{background-color: white; width:100%; height: 158px;}
#header .top_main{background-color:#0263a8; width:100%; height:30px;}
#header .top_main li{text-align:center;}
#header .top_main li a{ display:block; font-size:12px; color:white;}


#header .top_main a:hover{color:#ee6700; }

#header .top_main .main_rt{ width:180px; height:100%; float:right;}
#header .top_main .main_rt li{ width:60px; height:100%; float:left; line-height:30px; }


/*헤더 로고 영역*/
#header .top_logo{width:100%; height:85px; position:relative;}

/*모바일메뉴 버튼*/
#header .top_logo #mobile_menu{ width:30px; height:30px; position:absolute; left:1.0em; top:2.2em; background-image:url(../images/m_menu.png); background-repeat: no-repeat; text-indent:-999em; direction: ltr;}

/*모바일메뉴*/
html.open { overflow: hidden; }
.m_btn{width:50px; height:50px; position:absolute; left:10px; top:20px; z-index:1; background-image: url(../images/m_menu.png); background-repeat: no-repeat; background-position:center; cursor:pointer; background-size:60%;}

.close{width:50px; height:50px; position:absolute; left:0; top:0; z-index:1; background-image: url(../images/m_close.png); background-repeat: no-repeat; background-position:center; cursor:pointer; background-size:60%;}

#m_menu{width:250px; height:100%; position:fixed; top:0; left:-252px; z-index:10; border: 1px solid #c9c9c9; background-color:darkgray; text-align: center; transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease; }
#m_menu.open{ left:0;}
.page_cover.open{display:block;}
.page_cover{width:100%; height:100%; position:fixed; top:0; right:0; background-color: rgba(0, 0, 0, 0.4); z-index:4; display:none;}
#m_menu ul.m_gnb{ width:100%; height:100%; margin-top:60px; border-top:solid 1px white;}

#m_menu ul.m_gnb li{ width:100%;  z-index:999; line-height:50px; border-bottom:solid 1px white;}
#m_menu ul.m_gnb li a{color:white; display:block;}
#m_menu ul.m_gnb li:hover{cursor:pointer; background-color:#06a802;}
#m_menu ul.m_gnb li ul.m_subgnb{background-color:bisque; width:100%; height:100%; display:none;}
#m_menu ul.m_gnb li ul.m_subgnb > li{background-color:#0263a8; width:100%; line-height:40px; border:none;}
#m_menu ul.m_gnb li ul.m_subgnb li a{display:block; font-size:14px;}

/* 모바일 영등포 로고 */
#header .top_logo .logo{ width:100px; height:100%; float:left;}
#header .top_logo .logo a{display:block; padding-top:2px; }
#header .top_logo .logo a img{width:100%;}

#header .top_logo .m_logo{width:180px; float:left; display:none; position:absolute; margin-left:50%; left:-75px; top:24px; }


#header .top_logo .search{width:400px; height:100%; float:left; margin-left:175px;}
#header .top_logo .search .s_inner{background-image:url(../images/search.png); width:400px; height:50px; margin-top:17px; position:relative;}
#header .top_logo .search .s_inner .blind{width:1px; height:1px; position:absolute; top:0; left:0; overflow:hidden; display:block; margin:0; font-size:0; line-height:0;}
#header .top_logo .search .s_inner .search_bar{position:absolute; top:11px; left:10px; width:370px; height:30px; border-style: none;}

#header .top_logo .sns{ width:210px; height:100%; float:right;}
#header .top_logo .sns li{ width:30px; height:30px; float:left; margin-top:27px; margin-right:5px;}
#header .top_logo .sns li a{display:block;}

/* 메인메뉴 */
#header .top_gnb{ width:100%; height:40px; border-top:solid 1px #0263a8; border-bottom:solid 2px #0263a8;}
#header .top_gnb ul{background-color:; width:100%; height:100%;}
#header .top_gnb ul li{border-right:solid 1px #0263a8; width:159px; float:left; text-align:center; line-height:24px; margin-top:8px;}
#header .top_gnb ul li a{color:#4b494a; font-weight: bold;}
#header .top_gnb a:hover{color:#0263a8; }


/* 컨텐츠 */
#container{ width:100%; padding-top:15px;}

/* 컨텐츠 왼쪽메뉴 */
#container .left_wrap{width:220px; height:100%;  float:left; margin-top:40px;}
#container .left_wrap ul.left_menu{width:100%; height:100%; }
#container .left_wrap ul.left_menu li{width:100%; border-bottom:solid 1px gray; float:left; line-height:50px;}
#container .left_wrap ul.left_menu li > a.main{ color:black; padding-left:10px; display:block;}


#container .left_wrap ul.left_menu li ul.sub_cont{width:100%; height:100%;  float:left; display:none;}
#container .left_wrap ul.left_menu li ul.sub_cont li{width:100%;   border:none; background-color:#d4f1fc; line-height:35px; }
#container .left_wrap ul.left_menu li ul.sub_cont li > a{font-size:13px;  color:#02399f; margin-left:20px; }

#container .left_wrap ul.left_menu li ul.sub_cont li ul.pass_menu{background-color:burlywood; padding-left:5px;   }
#container .left_wrap ul.left_menu li ul.sub_cont li ul.pass_menu > li{line-height:20px;}
#container .left_wrap ul.left_menu li ul.sub_cont li ul.pass_menu > li a{font-size:12px; }


/* 컨텐츠 오른쪽 메뉴 */
#container .right_wrap{width:700px; height:100%; float:left; margin-left:40px; margin-top:40px; }   
#container .right_wrap h2{font-size:35px; height:55px; border-bottom:solid 2px lightgray; margin-bottom:30px;}
#container .right_wrap .cont_area{ width:100%;}
#container .right_wrap .cont_area ul.cont_box{ width:100%; height:100%; }

/* 컨텐츠01 */
#container .right_wrap .cont_area ul.cont_box li{ width:100%; margin-bottom:30px;}
#container .right_wrap .cont_area ul.cont_box li p{font-size:13px; margin-left:20px; line-height:20px;}
#container .right_wrap .cont_area ul.cont_box li ul.contents{ width:100%; }
#container .right_wrap .cont_area ul.cont_box li ul.contents > li{ width:100%; height:100%; font-size:13px;}
#container .right_wrap .cont_area ul.cont_box li h3{font-size:16px; margin-bottom:10px; color:gray;}
#container .right_wrap .cont_area ul.cont_box li p.box_txt{border:solid 2px #b6cde4; padding:15px 20px 15px; margin-bottom:10px; margin-left:0;}

ul.txt_list{ width:100%;}
#container .right_wrap .cont_area ul.cont_box li ul.contents li ul.txt_list > li{width:100%;  margin-bottom:5px; }
#container .right_wrap .cont_area ul.cont_box li span{ font-weight:bold; font-size:13px;}
#container .right_wrap .cont_area ul.cont_box li ul.contents li ul.txt_list > li > p{margin-left:10px; margin-top:5px;}

#container .right_wrap .cont_area ul.cont_box li ul.contents li ul.txt_list > li ul.list_wrap{ width:100%; height:100%; margin-top:10px;}
#container .right_wrap .cont_area ul.cont_box li ul.contents li ul.txt_list > li ul.list_wrap >li{ width:100%;  margin-bottom:15px; margin-left:10px;}


/* 컨텐츠04 */
#container .right_wrap .cont_area ul.cont_box li.cont04 ul li{margin-bottom:7px;}
#container .right_wrap .cont_area ul.cont_box li.cont04 ul li p{margin-left:15px; margin-top:10px;}

/* 컨텐츠05 */
#container .right_wrap .cont_area ul.cont_box li.cont05 ul li p{margin-left:15px; margin-top:10px;}
#container .right_wrap .cont_area ul.cont_box li.cont05 ul li{margin-bottom:7px; font-size:13px;}

/* 컨텐츠06 */
#container .right_wrap .cont_area ul.cont_box li.cont06 ul li p{margin-left:15px; margin-top:5px;}
#container .right_wrap .cont_area ul.cont_box li.cont06 ul li{margin-bottom:7px; font-size:13px;}

/* footer */
#footer{ width:100%; height:300px; border-top:solid 2px gray; margin-top:50px;}
#footer .f_con01{ width:960px; height:40px; margin:0 auto; padding-top:40px;}
#footer div select{float:left;  width:182px; border:solid 1px #dimgrey !important; height:40px;  line-height:40px;}
#footer div a{float:left;  width:40px; line-height:40px; background-color: dimgrey; text-align:center; color:white; margin-right:24px;}

#footer ul.f_con02{ width:690px; height:30px; margin:30px auto 0;}
#footer ul.f_con02 li{ line-height:30px; float:left; margin-right:12px;}
#footer ul.f_con02 li a{display:block; font-size:13px; color:black;}

#footer .ft_bottom{width:100%; height:110px;  border-top:solid 1px gray; margin-top:40px; }
#footer .ft_bottom .ft_inner{width:960px; height:100%;  margin:10px auto 0; }
#footer .ft_bottom .ft_inner p{ font-size:12px; padding-top:10px;}
.ft_btn{display:none;}


@media all and (max-width:768px){
    #container{padding-top:0; height:auto;}
    #header{background-color:#0263a8; height:100px;}
    #header .top_main{display:none;}
    #header .top_gnb{display:none;}
    #header .top_logo .search{display:none;}
    #header .top_logo .sns{display:none;}
    #header .top_logo .logo{display:none;}
    
    #header .top_logo .m_logo{display:block;}
    .wrapper{width:100%;}
    
	#container .left_wrap{display:none;}
    #container .right_wrap{display:none;}
    
    #footer{height:170px;}
    .f_con01{display:none;}
    .f_con02{display:none;}
    #footer .ft_bottom{ border-top:0; }
    #footer .ft_bottom .ft_inner{width:100%;}
    #footer .ft_bottom .ft_inner > p{display:none;}
    #footer .ft_bottom .ft_inner .ft_wrap{width:100%; height:100px;}
    #footer .ft_bottom .ft_inner .ft_wrap .ft_btn a{width:100px; font-size:15px; background-color:#a1a1a1; border-radius:5px; line-height:40px; }
    #footer .ft_bottom .ft_inner .ft_wrap .ft_btn{width:348px; height:40px; margin:0 auto; display: block;}
    #footer .ft_bottom .ft_inner .ft_wrap .ft_btn a:hover{background-color:gray;}
    #footer .ft_bottom .ft_inner .ft_wrap p{text-align:center; margin-top:20px;}
    
    
}
@media only screen and (max-device-width:480px){
    #container{padding-top:0; height:auto;}
    #header{background-color:#0263a8; width:100%; height:100px;}
    #header .top_main{display:none;}
    #header .top_gnb{display:none;}
    #header .top_logo .search{display:none;}
    #header .top_logo .sns{display:none;}
    #header .top_logo .logo{display:none;}
    
    #header .top_logo .m_logo{display:block;}
    .wrapper{width:100%;}
    
    
    
    
    #footer{height:170px;}
    .f_con01{display:none;}
    .f_con02{display:none;}
    #footer .ft_bottom{ border-top:0; }
    #footer .ft_bottom .ft_inner{width:100%;}
    #footer .ft_bottom .ft_inner > p{display:none;}
    #footer .ft_bottom .ft_inner .ft_wrap{width:100%; height:100px;}
    #footer .ft_bottom .ft_inner .ft_wrap .ft_btn a{width:100px; font-size:15px; background-color:#a1a1a1; border-radius:5px; line-height:40px; }
    #footer .ft_bottom .ft_inner .ft_wrap .ft_btn{width:348px; height:40px; margin:0 auto; display: block;}
    #footer .ft_bottom .ft_inner .ft_wrap .ft_btn a:hover{background-color:gray;}
    #footer .ft_bottom .ft_inner .ft_wrap p{text-align:center; margin-top:20px;}
    
    
    
		
}


