*{list-style:none; margin:0; padding:0;}
a{text-decoration:none; }
.clearfix:after{content:''; display:block; clear:both;}
body{font-family:'Noto Sans KR', sans-serif; width:100%; height:100%;}
html{width:100%; height:100%;}
.wrapper{width:960px; height:100%; margin:0 auto; }
.first{border-left:solid 1px lightgray;}
.last{margin-right:0!important; border:0 !important;}


.skipNav{position:relative; width:100%; z-index:100;}
.skipNav a{display:block; background-color:white; width:100%; line-height:30px; text-align:center; font-size:13px; position:absolute; top:-100px; left:0; font-weight:bold;}
.skipNav a:active, .skipNav a:focus{top:0;}

#header{background-color: white; width:100%; height: 158px;}
#header .top_main{background-color:#0263a8; width:100%; height:30px;}
#header .top_main li{text-align:center;}
#header .top_main li a{ display:block; font-size:12px; color:white;}

#header .top_main .main_lf{ width:400px; height:100%; float:left;}
#header .top_main .main_lf li{border-right:solid 1px lightgray; width:75px;  float:left; line-height:20px; margin-top:5px;}
#header .top_main .main_lf li.big{width:90px;}

#header .top_main a:hover{color:#ee6700; }

#header .top_main .main_rt{ width:180px; height:100%; float:right;}
#header .top_main .main_rt li{ width:60px; height:100%; float:left; line-height:30px; }



#header .top_logo{width:100%; height:85px;}
#header .top_logo .logo{ width:100px; height:100%; float:left;}
#header .top_logo .logo a{display:block; padding-top:2px; }
#header .top_logo .logo a img{width:100%;}

#header .top_logo .search{width:400px; height:100%; float:left; margin-left:175px;}
#header .top_logo .search .s_inner{background-image:url(../images/search.png); width:400px; height:50px; margin-top:17px; position:relative;}
#header .top_logo .search .s_inner .blind{width:1px; height:1px; position:absolute; top:0; left:0; overflow:hidden; display:block; margin:0; font-size:0; line-height:0;}
#header .top_logo .search .s_inner .search_bar{position:absolute; top:11px; left:10px; width:370px; height:30px; border-style: none;}

#header .top_logo .sns{ width:210px; height:100%; float:right;}
#header .top_logo .sns li{ width:30px; height:30px; float:left; margin-top:27px; margin-right:5px;}
#header .top_logo .sns li a{display:block;}


#header .top_menu{ width:100%; height:40px; border-top:solid 1px #0263a8; border-bottom:solid 2px #0263a8;}
#header .top_menu ul{background-color:; width:100%; height:100%;}
#header .top_menu ul li{border-right:solid 1px #0263a8; width:159px; float:left; text-align:center; line-height:24px; margin-top:8px;}
#header .top_menu ul li a{color:#4b494a; font-weight: bold;}
#header .top_menu a:hover{color:#0263a8; }



#footer{ width:100%; height:300px; border-top:solid 2px gray;}
#footer .f_con01{ width:960px; height:40px; margin:0 auto; padding-top:40px;}
#footer div select{float:left;  width:182px; border:solid 1px #dimgrey !important; height:40px;  line-height:40px;}
#footer div a{float:left;  width:40px; line-height:40px; background-color: dimgrey; text-align:center; color:white; margin-right:24px;}

#footer ul.f_con02{ width:690px; height:30px; margin:30px auto 0;}
#footer ul.f_con02 li{ line-height:30px; float:left; margin-right:12px;}
#footer ul.f_con02 li a{display:block; font-size:13px; color:black;}

#footer .ft_bottom{width:100%; height:110px;  border-top:solid 1px gray; margin-top:40px; }
#footer .ft_bottom .ft_inner{width:960px; height:100%;  margin:10px auto 0; }
#footer .ft_bottom .ft_inner p{ font-size:12px; padding-top:10px;}
